* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 15px;
  font-family: sans-serif;
  background-color: #006db7;
}

.btn {
  display: block;
  padding: 5px;
  margin-top: -5px;
  box-sizing: content-box;
  border-radius: 3px;
  border: none;
  font-size: 0.7em;
  width: 1em;
  height: 1em;
  text-align: center;
  line-height: 1em;
  vertical-align: middle;
  background-color: #fff;
  color: #666;
  cursor: pointer;
}

.btn__list {
  display: inline;
  width: auto;
  background-color: transparent;
  font-size: 0.8em;
}

.btn__list:hover {
  text-decoration: underline;
}

.trello {
  display: flex;
  align-items: flex-start;

}
.list {
  padding: 10px;
  background-color: #ececec;
  border-radius: 3px;
  position: relative;
  margin: 0 10px 10px 0;
}

.list__name {
  margin: 0;
  font-size: 1em;
  font-weight: normal;
}

.list__more {
  position: absolute;
  right: 15px;
  top: 0;
}
.list__more .btn {
  background-color: transparent;
  font-size: 1.2em;
  margin-top: 0;
  padding-right: 0;
}

.cardlist {
  list-style: none;
  padding: 0;
}

.card {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 0 5px 0;
  padding: 5px;
  border-radius: 3px;
  background-color: #fff;
  min-height: 32px;
}

.card__label {
  display: inline-block;
  width: 42px;
  height: 8px;
  margin: 0 3px 3px 0;
  border-radius: 3px;
}

.card__name {
  font-weight: normal;
}

.card__edit-btn {
  position: absolute;
  right: 5px;
  visibility: hidden;
}

.card:hover .card__edit-btn {
  visibility: visible;
}