* {
  box-sizing: border-box;
}
body {
  padding: 30px;
}

.poster {
  position: relative;
  margin: 0;
  width: 800px;
  height: 600px;
  background-color: #000;
}

.posterImage {
  position: relative;
  display: block;
  width: 80%;
  margin: 0 auto;
  top: 30px;
  border: 1px solid #3399FF;
  padding: 15px;
}

.title {
  color: #3399FF;
  margin:  30px 0 15px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  font-family: Baskerville;
  font-size: 3em;
  font-weight: normal;
  letter-spacing: 3px;
}

.capitals {
  vertical-align: text-bottom;
  font-size: 1.5em;
  text-decoration: none;
  line-height: 48px;
}

.midTitle {
  // text-decoration: underline;
  vertical-align: top;
  border-bottom: 1px solid #3399FF;
  line-height: 48px;
}

.posterTxt {
  color: #fff;
  padding: 0 30px;
  font-size: 1.3em;
  text-align: center;
  text-transform: uppercase;
  font-family: 'PT Serif', Times, serif;
}