* {
  box-sizing: border-box;
}
body {
  padding: 30px;
  font-family: Helvetica, sans-serif;
  color: #fff;
}

.creditCard {
  font-family: 'Andale Mono', Courier, monospace;
  position: relative;
  width: 600px;
  height: 350px;
  border-radius: 30px;
  background-color: #2255ff;
  padding: 45px;
}

.bank {
  font-family: 'Trebuchet MS';
  font-size: 3em;
  text-align: right;
}

.cardNumber {
  position: absolute;
  width: calc(100% - 90px);
  top: 45%;
  /*font-weight: bold;*/
  font-size: 2.6em;
  letter-spacing: 1.5px;
}

.cardNumber .cardType {
  font-size: 0.3em;
  font-weight: normal;
}

.expires {
  position: absolute;
  top: 65%;
  left: 40%;
  font-size: 2em;
  vertical-align: bottom;
}

.expires .label {
  display: inline-block;
  width: 3.5em;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 0.4em;
  text-transform: uppercase;
}

.cardholder {
  position: absolute;
  bottom: 8%;
  width: 100%;
  font-size: 1.8em;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}