.CartPage--items {
  margin: 0;
  padding: 0;
}

.CartPage--items li {
  list-style: none;
}

.CartPage--item {
  margin-bottom: 20px;
}

.CartItem__count {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.CartItem__addOne,
.CartItem__removeOne {
  padding: 5px 10px;
  border: 1px solid #ccc;
  background: #fff;
}

.CartItem__addOne {
  border-left: 0;
  border-radius: 0 3px 3px 0;
}
.CartItem__removeOne {
  border-right: 0;
  border-radius: 3px 0 0 3px;
}