body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.envelope {
  position: relative;
  width: 80%;
  max-width: 400px;
  height: 300px;
  border: 1px solid #333;
  margin: 15px auto;
  padding: 15px;
}

.address {
  position: absolute;
}

.sender {
  top: 30px;
  width: 40%;
}

.recipient {
  width: 40%;
  bottom: 45px;
  right: 15px;
}

.country {
  margin-top: 5px;
}

.stamp {
  position: absolute;
  right: 15px;
  top: 30px;
  width: 60px;
  height: 75px;
  border: 1px dashed #999;
  display: flex;
  align-items: center;
  justify-items: center;
}

.stamp__text {
  display: inline-block;
  transform: rotate(-45deg);
  width: 100%;
  color: #999;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}