body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ccc;
}

.errorbox {
  margin: 15px;
  background-color: #fff;
  color: #C00;
  padding: 15px;
  font-size: 18px;
  vertical-align: middle;
  max-width: 230px;
  border-radius: 3px;
}

.errorbox__icon {
  vertical-align: middle;
  display: inline-block;
  margin-right: 15px;
  font-size: 24px;
}