* {
  box-sizing: border-box;
}
body {
  padding: 30px;
  background-color: #ececec;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 10px;
}

.email {
  background-color: #fff;
  display: grid;
  grid-template-columns: 30px auto;
  grid-template-rows: 1fr 2fr 1fr auto;
  grid-template-areas:
    "emailSelect sender"
    "pinit subject"
    "pinit emailDate"
    "pinit message";
  font-size: 1.4em;
  margin: 5px;
}

@media screen and (min-width: 768px) {
  .email {
    grid-template-columns: 30px 30px 2fr 3fr 1fr;
    grid-template-rows: 50% auto;
    grid-template-areas:
      "emailSelect pinit sender subject emailDate"
      "emailSelect pinit message message message";
  }
}

.email__region {
  padding: 5px;
}
.email__select {
  grid-area: emailSelect;
  justify-self: center;
  align-self: start;
}

.email__pin {
  grid-area: pinit;
  justify-self: center;
  align-self: start;
}

.email__sender {
  grid-area: sender;
}

.email__subject {
  grid-area: subject;
  font-weight: bold;
}

.email__date {
  grid-area: emailDate;
}

.email__message {
  grid-area: message;
  border-top: 1px solid #ececec;
}