body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.layout {
  width: 100%;
  height: 100vh;
  display: flex;
}

.content {
  flex: 3;
  padding: 30px;
}

.content > button {
  float: left;
  margin-right: 30px;
}

.sidebar {
  background: #3366cc;
  width: 300px;
  height: 100%;
  padding: 30px;
}

.sidebar > button {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}