.App {
  max-width: 800px;
  margin: 0 auto;
}

.App--nav {
  margin: 20px;
  padding: 10px;
  border-bottom: 2px solid #508FCA;
}

.App--nav ul {
  padding: 0;
  margin: 0;
}

.App--nav__item {
  list-style: none;
  display: inline-block;
  margin-right: 32px;
  font-size: 24px;
  border-bottom: 4px solid transparent;
}

.App--nav__item.selected {
  border-bottom-color: #FFAA3F;
}

.App--nav__item a {
  cursor: pointer;
}

.App--nav__item a:hover {
  color: #999;
}

.App--nav--cartCounter {
  float: right;
  line-height: 32px;
}

.App--content {
  margin: 0 20px;
}