body {
  margin: 1em;
  padding: 0;
  font-family: sans-serif;
}

.file-list {
  font-family: Helvetica, sans-serif;
  width: 90%;
  margin: 0 auto;
  color: #333;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.file-list__item {
  // display: flex;
  border-top: 1px solid #ccc;
}

.file-list__item:first-child {
  border-top: none;
}

.file-list__name {
  padding: 4px;
  max-width: 180px;
}

.file__icon {
  width: 17px;
  padding-left: 4px;
}

.file__icon .fa-folder {
  color: #508fca;
}

.commit__message {
  max-width: 442px;
  padding-left: 10px;
  overflow: hidden;
}

.commit__time {
  width: 125px;
  text-align: right;
  padding-right: 4px;
}