body {
  margin: 10px;
  padding: 0;
  font-family: sans-serif;
}

.tweet {
  border: 1px solid #cccccc;
  border-radius: 3px;
  width: 564px;
  min-height: 68px;
  padding: 10px;
  display: flex;
  font-family: "Helvetica", arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 5px;
  margin-right: 10px;
}

.name {
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-right: 0.3em;
}

.handle {
  color: #8899a6;
  font-size: 13px;
}

.time {
  padding-left: 0.3em;
  color: #8899a6;
}

.time::before {
  content: "\00b7";
  padding-right: 0.3em;
}

.buttons {
  margin-top: 10px;
  margin-left: 2px;
  font-size: 1.4em;
  color: #aab8c2;
}

.button {
  display: inline-block;
  width: 80px;
}

.count,
.like-count,
.retweet-count {
  position: relative;
  bottom: 2px;
  font-size: 12px;
  margin-left: 6px;
  font-weight: bold;
}