* {
  box-sizing: border-box;
}

body {
  margin: 8px;
  padding: 0;
  font-family: sans-serif;
  font-size: 10pt;
}

.hackernews {
  display: block;
  margin: 0 auto;
  padding-bottom: 5px;
  max-width: 1072px;
  width: 100%;
  background-color: #f6f6ef;
}

/*Header*/
.header {
  padding: 2px;
  height: 24px;
  background-color: #ff6600;
  color: #828282;
  vertical-align: middle;
}

.navbar {
  display: inline-block;
  line-height: 22px;
  vertical-align: text-bottom;
}

.menu {
  margin: 0;
  margin-left: 5px;
  padding: 0;
  display: inline-block;
}

.navbar .menu .menu--item {
  display: inline-block;
  color: #000;
}

.navbar .menu .menu--item a,
.login {
  padding: 0 5px;
  font-family: Verdana, Geneva, sans-serif;
  color: #000;
  line-height: 22px;
  text-decoration: none;
}

.login {
  float: right;
}

.logo {
  border: 1px solid #fff;
}

.site_title {
  display: inline-block;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  font-style: normal;
  color: #000;
  margin: 0 5px;
  height: 22px;
  line-height: 22px;
  vertical-align: top;
}

/*Story list*/
main {
  margin-top: 10px;
}

.story-list {
  margin: 0;
  padding: 0;
  padding-left: 30px;
  font-family: Verdana, Geneva, sans-serif;
  list-style: decimal outside none;
}

.story-list > li {
  counter-increment: step;
  font-size: 10pt;
  padding: 3px 0;
  color: #828282;
}

.story__grid {
  display: inline-grid;
  grid-template-columns: 14px auto;
  grid-template-rows: 50% auto;
  grid-template-areas:
    "upvote title"
    "upvote details";
}

.story__upvote {
  grid-area: upvote;
  justify-self: center;
  align-self: start;
}

.story__title {
  grid-area: title;
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
}

.story__title a {
  font-weight: normal;
  text-decoration: none;
  color: #000;
}

.story__title a:hover {
  text-decoration: underline;
}

.story__title a:visited {
  color: #828282;
}

.story__details {
  color: #828282;
  font-size: 7pt;
  grid-area: details;
}

.story__details a {
  color: #828282;
  text-decoration: none;
}

.story__details a:hover {
  text-decoration: underline;
}