body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ececec;
}

.navbar__item a {
  display: block;
  padding: 15px;
  background: #ccc;
}