body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.envelope {
  position: relative;
  margin: 30px;
  width: 600px;
  height: 320px;
  border: 1px solid #ccc;
}

.stamp {
  position: absolute;
  right: 30px;
  top: 30px;
}

.addresslabel {
  position: absolute;
}

.addresslabel:first-child {
  right: 30px;
  top: 150px;
}

.addresslabel:last-child {
  left: 30px;
  top: 30px;
}