.Item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.Item__image {
  width: 64px;
  height: 64px;
  border: 1px solid #ccc;
  margin-right: 10px;
  float: left;
}

.Item__title {
  font-weight: bold;
  margin-bottom: 0.4em;
}

.Item__price {
  text-align: right;
  font-size: 18px;
  color: #555;
}

.Item__addToCart {
  margin-bottom: 5px;
  font-size: 14px;
  border: 2px solid #FFAA3F;
  background-color: #fff;
  border-radius: 3px;
  cursor: pointer;
}
.Item__addToCart:hover {
  background-color: #FFDDB2;
}
.Item__addToCart:active {
  background-color: #ED8400;
}
.Item__addToCart:focus {
  outline: none;
}
.Item__left {
  flex: 1;
}
.Item__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}